<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter the title</label>
                    <input type="text" id="title" name="campground[title]" class="form-control" required
                        value="<%= campground.title %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mb-3">
                    <label for="location" class="form-label">Enter the location</label>
                    <input type="text" id="location" name="campground[location]" class="form-control" required
                        value="<%= campground.location %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class=" input-group mb-3">
                    <label for="price" class="form-label">campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <span class="input-group-text" id="price-label">0.00</span>
                        <input type="text" class="form-control" name="campground[price]" id="price" aria-label=""
                            aria-describedby="price-label" required value="<%= campground.price %>">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class=" mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea type="text" id="description" name="campground[description]" class="form-control"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <input type="file" class="form-control" id="image" name="image"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info">Update campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
    </div>